{% extends 'main.html'%}
{% block title %}Sākuma lapa{% endblock title%}
{% block content%}

<div class="container d-flex justify-content-center align-items-center p-0">
  <div class="row">
    <div class="col shadow p-3 bg-light rounded">
      <div class="btn-group !spacing" role="group" aria-label="Basic example">
        <a class="btn btn-success btn-lg" href="/student_add" role="button">
          Pievienot jautnu studentu
        </a>
        <a class="btn btn-primary btn-lg" href="/show" role="button">
          Atvērt tabulu</a
        >
      </div>
    </div>
    <div></div>
  </div>
</div>

{% endblock content%}
